# Ejercicio Find

El objetivo de este notebook es afianzar todos los conocimientos que hemos visto hasta ahora tanto en clase como en los ejercicios sobre búsquedas con find sobre MongoDB.

Antes de empezar con los ejercicios, vamos a familiarizarnos con los datos que queremos consultar. 

Vamos a crear la colección 'restaurants' donde insertaremos datos sobre restaurantes. Los documentos almacenan la siguietne información:

`
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}
`

Antes de nada vamos a importar las librerías que necesitamos para acceder a MongoDB.

In [ ]:
import pymongo
from pymongo import MongoClient

Creamos la conexión a MongoDB y borramos la base de datos que utilizaremos en este notebook para limpiar el entorno de posibles ejecuciones anteriores.

In [ ]:
client = MongoClient('mongodb://nosql:nosql@localhost:27017/')

client.drop_database("notebook_dos")

Creamos la base de datos para el notebook.

In [ ]:
db = client["ejercicio_dos"]

Ahora vamos a insertar los datos en la colección que acabas de crear para realizar los ejercicios.

Los datos los encontrarás en la carpeta work/data/mongoDB en el fichero restaurants.json. Cada línea del fichero representa un documento con la información de un restaurante.

Vamos ha crear unos métodos para recorer el fichero, parsearlo en formato JSON e insertarlo en la colección.

In [ ]:
from bson.json_util import loads

# Recibe una colección y un documento en formato JSON.
#Inserta el documento en la colección.
def insert_document(collection, document):
    try:
        collection.insert_one(document)
    except:
        pass

In [ ]:
import sys
from bson.json_util import loads

# Recibe la url de un fichero que contiene los documentos a insertar y la colección donde tiene que insertarlos.
# Recorre el fichero indicado, parsea cada línea en formato JSON y llama al método insert_document para que inserte
# el documento parseado en la colección.
def import_file(file_path, collection):
    document_file = open(file_path, "r")

    for line in document_file:
        document = loads(line)
        insert_document(collection, document)

In [ ]:
restaurants_path = '../data/mongoDB/restaurants.json'

# Eealizamos la importación utilizando los métodos definidos en las celdas superiores
import_file(restaurants_path, db.restaurants)

Comprobamos que la insercción se ha realizado correctamente.

In [ ]:
all_restaurants = db.restaurants.find({}).limit(5)

for restaurant in all_restaurants:
    print(restaurant)

## Ejercicios:

Realiza los siguientes ejercicios sobre la colección que hemos creado.

1. Escribe una consulta que muestre todos los documentos en la colección de restaurantes.

In [ ]:
restaurants = db.restaurants.find()
for restaurant in restaurants:
    print(restaurant )

2. Escribe una sentencia que muestre todos los campos restaurant_id, name, borough y cuisine de todos los documentos de la colección de restaurantes.

In [ ]:
restaurants = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1})
for restaurant in restaurants:
    print(restaurant )

3. Escribe ina sentencia que muestre los campos estaurant_id, name, borough y cuisine y que excluya del resultado el campo _id para todos los documentos de la colección de restaurantes.

In [ ]:
restaurants = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1,"_id":0})
for restaurant in restaurants:
    print(restaurant )

4. Escribe una sentencia que mustre los campos restaurant_id, name, borough y zip code y que excluya del resultado el campo _id para todos los documentos de la colección de restaurantes.

In [ ]:
restaurants = db.restaurants.find({},{"restaurant_id" : 1,"name":1,"borough":1,"address.zipcode" :1,"_id":0})
for restaurant in restaurants:
    print(restaurant )

5. Escribe una sentencia que muestre todos los restaurantes que se encuentren en el Bronx.

In [ ]:
restaurants = db.restaurants.find({"borough": "Bronx"})
for restaurant in restaurants:
    print(restaurant )

6. Escribe una sentencia que muestre los 5 primeros restaurantes que se encuentran en el Bronx.

In [ ]:
restaurants = db.restaurants.find({"borough": "Bronx"}).limit(5)
for restaurant in restaurants:
    print(restaurant )

7. Escribe una sentencia que muestre los siguientes 5 restaurantes del Bronx despues de obviar los 5 primmeros.

In [ ]:
restaurants = db.restaurants.find({"borough": "Bronx"}).skip(5).limit(5)
for restaurant in restaurants:
    print(restaurant )

8. Escribe una sentencia que encuentre los restaurantes que han recibido una puntuación mayor de 90.

In [ ]:
restaurants = db.restaurants.find({"grades": { "$elemMatch":{"score":{"$gt" : 90}}}})
for restaurant in restaurants:
    print(restaurant )

9. Escribe una sentencia que encuentre los restaurantes que han recibido una puntuación mayor de 80 pero menor de 100.

In [ ]:
restaurants = db.restaurants.find({"grades": { "$elemMatch":{"score":{"$gt": 80, "$lt":100}}}})
for restaurant in restaurants:
    print(restaurant )

10. Escribe una sentencia que busque los restaurantes que se encuentran a menos de -95.754168 de altitud.

In [ ]:
restaurants = db.restaurants.find({"address.coord": {"$lt": -95.754168}})
for restaurant in restaurants:
    print(restaurant )

11. Escribe una sentencia que busque los restaurantes que no preparen cocina americana ('American') y su puntuación sea mayor de 70 y se encuentren a una altitud menor de -65.754168.

In [ ]:
restaurants = db.restaurants.find(
               {"$and":
                    [
                       {"cuisine": {"$ne":"American "}},
                       {"grades.score": {"$gt": 70}},
                       {"address.coord": {"$lt": -65.754168}}
                    ]
                })
for restaurant in restaurants:
    print(restaurant )

12. Escribe una sentencia que busque los restaurantes que no preparen cocina americana ('American') y su puntuación sea mayor de 70 y se encuentren a una altitud menor de -65.754168. 

**Nota**: Realizala sin utilizar el operador $and.

In [ ]:
restaurants = db.restaurants.find(
                           {
                             "cuisine": {"$ne": "American "},
                             "grades.score": {"$gt": 70},
                             "address.coord": {"$lt": -65.754168}
                            })

for restaurant in restaurants:
    print(restaurant )

13. Escribe una sentencia que busque restaurantes que no preparen cocina americana ('American') y hayan recibido una nota 'A' que no pertenezcan a Brooklyn. 

El resultado se debe mostrar por orden descendente del campo cuisine.

In [ ]:
restaurants = db.restaurants.find( {
                             "cuisine": {"$ne": "American "},
                             "grades.grade" :"A",
                             "borough": {"$ne": "Brooklyn"}
                       }).sort("cuisine", -1)
for restaurant in restaurants:
    print(restaurant )

14. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que contengan 'Wil' como primera tres letras de su nombre.

In [ ]:
restaurants = db.restaurants.find(
    { "name": {"$regex": "^Wil"} },
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
        "cuisine" :1
    })

for restaurant in restaurants:
    print(restaurant )

15. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes cuyo nombre termine por 'ces'.

In [ ]:
restaurants = db.restaurants.find(
    { "name": {"$regex": "ces$" } },
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
        "cuisine" :1
    }
)

for restaurant in restaurants:
    print(restaurant )

16. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que contengan 'Reg' en cualquier parte de su nombre.

In [ ]:
restaurants = db.restaurants.find(
    { "name": {"$regex": ".*Reg.*" } },
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
    }
)

for restaurant in restaurants:
    print(restaurant )

17. Escribe una sentencia que encuentre los restaurantes que pertenezcan al Bronx y preparen platos de cocina americana ('American') o china ('Chinese').

In [ ]:
restaurants = db.restaurants.find(
    { 
        "borough": "Bronx", 
        "$or" : [
            { "cuisine" : "American " },
            { "cuisine" : "Chinese" }
        ] 
    } 
)

for restaurant in restaurants:
    print(restaurant )

18. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que pertenezcan a Staten Island, Queens, Bronx o Brooklyn.

In [ ]:
restaurants = db.restaurants.find(
    { "borough" :{"$in" :["Staten Island","Queens","Bronx","Brooklyn"]} },
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
        "cuisine" :1
    }
)

for restaurant in restaurants:
    print(restaurant )

19. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que NO pertenezcan a Staten Island, Queens, Bronx o Brooklyn.

In [ ]:
restaurants = db.restaurants.find(
    { "borough" :{ "$nin" :["Staten Island","Queens","Bronx","Brooklyn"]}},
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
        "cuisine" :1
    }
)

for restaurant in restaurants:
    print(restaurant )

20. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que han recibido una puntuación que no sea mayor a 10.

In [ ]:
restaurants = db.restaurants.find(
    { "grades.score": { "$not": {"$gt": 10} } },
    {
        "restaurant_id" : 1,
        "name":1,
        "borough":1,
        "cuisine" :1
    }
)

for restaurant in restaurants:
    print(restaurant )

21. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que preparan platos de comida americana ('American') y china ('Chinees') o de restaurantes cuyo nombre empieza pro 'Wil'.

In [ ]:
restaurants = db.restaurants.find(
    { "$or": [ 
        { "name": {"$regex": "^Wil" }}, 
        {"$and": [
            {"cuisine" : {"$ne" :"American "}}, 
            {"cuisine" : {"$ne" :"Chinees"}}
        ]}
    ]},
    {"restaurant_id" : 1,"name":1,"borough":1,"cuisine" :1}
)

for restaurant in restaurants:
    print(restaurant )

22. Escribe una sentencia que busque el Id, name, borough y cuisine de los restaurantes que reciben una nota 'A' y una puntuación de 11 en una fecha ISODate "2014-08-11T00:00:00Z" entre sus fechas de encuestas.

In [ ]:
import datetime 
restaurants = db.restaurants.find( 
    {
        "grades.date": { "$eq": datetime.datetime(2014,8,11,0,0) }, 
        "grades.grade": "A" , 
        "grades.score" : 11
    }, 
    {"restaurant_id": 1, "name": 1,"grades": 1}
)
for restaurant in restaurants:
    print(restaurant)

In [ ]:
restaurants = db.restaurants.find( 
    { "grades": { 
        "$elemMatch": {
            "date": { "$eq": datetime.datetime(2014,8,11,0,0) }, 
            "grade": "A", 
            "score" : 11 }
        }
    }, 
    {"restaurant_id": 1, "name": 1,"grades": 1}
)
for restaurant in restaurants:
    print(restaurant )

23. Escribe una sentencia que encuentre el Id, name y grades de los restaurantes cuyo segundo elemento de notas ('grades') contenga la nota 'A' y la puntucaión ('score') 9 en la fecha ISODate "2014-08-11T00:00:00Z".

In [ ]:
restaurants = db.restaurants.find( 
                      { "grades.1.date": { "$eq": datetime.datetime(2014,8,11,0,0) }, 
                        "grades.1.grade":"A" , 
                        "grades.1.score" : 9
                      }, 
                      {"restaurant_id" : 1,"name": 1,"grades": 1}
                   )
for restaurant in restaurants:
    print(restaurant )

24. Escribe una sentencia que encuentre el Id, name, address and geographical location para los restaurantes donde el segundo elemento del array de coordenadas ('coord') contiene un valor mayor de 42 y menor de 52.

In [ ]:
restaurants = db.restaurants.find( 
    { "address.coord.1": {"$gt": 42, "$lte": 52} },
    { "restaurant_id": 1, "name": 1, "address": 1, "coord": 1}
)

for restaurant in restaurants:
    print(restaurant )

25. Escribe una sentencia que ordene los restaurantes por nombre en orden ascendente junto con el resto de columnas.

In [ ]:
restaurants = db.restaurants.find().sort("name", 1)
for restaurant in restaurants:
    print(restaurant )

26. Escribe una sentencia que ordene los restaurantes por nombre en orden descendente junto con el resto de columnas.

In [ ]:
restaurants = db.restaurants.find().sort("name", -1)
for restaurant in restaurants:
    print(restaurant )

27. Escribe una sentencia que ordene los restaurantes por el campo cuisine en orden ascendente y para esa misma cocina el campo borough en orden descendente.

In [ ]:
restaurants = db.restaurants.find().sort([("cuisine", 1),("borough", -1)])
for restaurant in restaurants:
    print(restaurant )

28. Escribe una sentencia para saber si todas las direcciones tienen calle o no.

In [ ]:
restaurants = db.restaurants.find({"address.street": { "$exists": True }})
for restaurant in restaurants:
    print(restaurant )

29. Escribe una sentencia que obtenga todos los estaurantes cuyo valor del campo coord se de tipo Doble.

In [ ]:
restaurants = db.restaurants.find({"address.coord": {"$type": 1}})
for restaurant in restaurants:
    print(restaurant )

30. Escribre una sentencia que obtenga el Id, name y grades de los restaurantes que obtengan de resto 0 al realizar la división entera por 7 de la puntuación.

In [ ]:
restaurants = db.restaurants.find(
    {"grades.score": {"$mod": [7,0]}},
    {"restaurant_id" : 1,"name":1,"grades":1}
)

for restaurant in restaurants:
    print(restaurant )