# Cypher in Depth

En este notebook vamos a ver en profundidad las distintas opciones que tenemos para buscar nuestros patrones en la base de datos:

* Filtrar resultados con la cláusula WHERE
* Devolver expresiones con la cláusula RETURN
* Agregar datos con los operadores sum, avg, count, min, max
* Ordenar los resultados con ORDER BY
* Paginar el resultado con SKIP y LIMIT

Para empezar importaremos lalibrería de cypher y borraremos todos los nodos y relacciones que hubiera en la base de datos para empezar con el notebook de cero.

In [ ]:
%load_ext cypher
%matplotlib inline

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (n) DETACH DELETE n

Para este ejercicio vamos a partir de un grafo que almacena peliculas, actores, directores y sus relaciones:

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
CREATE (matrix:Movie { title:"The Matrix",released:1997 })
CREATE (cloudAtlas:Movie { title:"Cloud Atlas",released:2012 })
CREATE (forrestGump:Movie { title:"Forrest Gump",released:1994 })
CREATE (keanu:Person { name:"Keanu Reeves", born:1964 })
CREATE (robert:Person { name:"Robert Zemeckis", born:1951 })
CREATE (tom:Person { name:"Tom Hanks", born:1956 })
CREATE (tom)-[:ACTED_IN { roles: ["Forrest"]}]->(forrestGump)
CREATE (tom)-[:ACTED_IN { roles: ['Zachry']}]->(cloudAtlas)
CREATE (robert)-[:DIRECTED]->(forrestGump)

Como resultado tenemos el siguiente grafo

<img src="../images/neo4j/cypher21.png" alt="Initial Graph"/>

## Filtrar datos

Hasta ahora hemos buscado patrones y hemos devuelto los nodos y relaciones que cumplen dicho patrón. Vamos a ver que opciones tenemos para filtrar el resultado y solo devolver el subconjunto de datos que cumplan unas determinadas condiciones. 

Estas condiciones se expresan utilizando la cláusula WHERE. Para combinar varias condiciones podemos utilizar los operadores AND, OR, XOR y NOT.

En esta primera sentencia vamos a filtrar los nodos películas que nos devuelve el patrón que cumplan la condición de que su atributo título sea igua a "The Matrix".

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (m:Movie)
WHERE m.title = "The Matrix"
RETURN m

Para filtrar podemos utilizar expresiones regulares, >, =, <, IN ...

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (p:Person)-[r:ACTED_IN]->(m:Movie)
WHERE p.name =~ "K.+" OR m.released > 2000 OR "Neo" IN r.roles
RETURN p,r,m

También podemos filtrar utilizando patrones

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (p:Person)-[:ACTED_IN]->(m)
WHERE NOT (p)-[:DIRECTED]->()
RETURN p,m

## Devolver resultados

Además de nodos, relaciones o pahts, cypher puede devolver expresiones. La expresión más sencilla es un literal, pero también pueden ser:

* Números, cadenas.
* Arrays como por ejemplo [1,2,3]
* Mapas como por ejemplo  {name:"Tom Hanks", born:1964, movies:["Forrest Gump",…], count:13}
* Las propiedades individuales de un nodo, de una realacción de un mapa se pueden acceder con ".", como por ejemplo n.name
* Los elementos de un array o ventanas de un array tulizando "[]", como por ejemplo: 
 * names[0]
 * movies[1..-1]
* Aplicar funciones a los valores devueltos, como por ejemplo: 
 * length(array)
 * toInteger("12")
 * substring("2014-07-01",0,4) 
 * coalesce(p.nickname,"n/a") 
* También se le pueden poner etiquetas a los campos devueltos con AS: { name: p.name, label:head(labels(p))} AS person

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (p:Person)
RETURN p, p.name AS name, toUpper(p.name), coalesce(p.nickname,"n/a") AS nickname,
  { name: p.name, label:head(labels(p))} AS person

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (n)
RETURN DISTINCT labels(n) AS Labels

## Agregaciones

En muchas ocasiones queremos agregar o agrupar la información encontrada. En Cypher realizaremos estas operaciones en clausula RETURN. Cypher soporta la mayoría de las operaciones de agreagación: count, sum, avg, min, max y muchas más.

Por ejemplo, para contar el número de personas que hay en la base de datos podemos ejecura la siguiente consulta:

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (:Person)
RETURN count(*) AS people

Los valores nulos se han evitado durante el proceso de conteo. 

Si queremos agregar valores únicos podemos utilizar DISTINCT:

count(DISTINCT role).

Las agregaciones funcionan de forma implícita, sólo es necesario especificar que columnas queremos agragar y Cypher utilizará las columnas que no tienen agregación para realizar la agrupacción.

El siguiente patrón busca la fecuencia con la que uns actor y un director han trabajado juntos:

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (actor:Person)-[:ACTED_IN]->(movie:Movie)<-[:DIRECTED]-(director:Person)
RETURN actor, director, count(*) AS collaborations

La función collect() es muy útil para devolver los valores de una agregación en una lista. 

La siguiente sentencia nos permite recuperar todo el reparto de una película y la función cllect nos ayuda a recuperara a todos los acotres de una película en una lista:

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (m:Movie)<-[:ACTED_IN]-(a:Person)
RETURN m.title AS movie, collect(a.name) AS cast, count(*) AS actors

## Ordenación y Paginación

La ordenación se raliza utilizando la clausula  ORDER BY expression [ASC|DESC]. La expresión puede ser cualquiera que sea computable con el resultado del patrón de búsqueda junto con la clausula RETURN.

Si devolvemos RETURN person.name podemos ordenar ORDER BY person.age ASC puesto que ambos son accesibles por la variable person. No podemos ordenar por algo que no ha sido devuelto.

La paginación se realiza utilizando las cláusulas SKIP {offset} y LIMIT {count}.

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (a:Person)-[:ACTED_IN]->(m:Movie)
RETURN a, count(*) AS appearances
ORDER BY appearances DESC LIMIT 10;

## Componer consultas muy laragas


Para unir el resultado de varias sentencias con la misma estructura podemos utilizar **UNION [ALL]**.

Por ejemplo, la siguiente sentencia une actores y directores:

Nota: Las columnas devueltas tienen que tener el mismo alias, en este caso 'type'

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (actor:Person)-[r:ACTED_IN]->(movie:Movie)
RETURN actor.name AS name, type(r) AS type, movie.title AS title
UNION
MATCH (director:Person)-[r:DIRECTED]->(movie:Movie)
RETURN director.name AS name, type(r) AS type, movie.title AS title

También podemos encadenar fragmentos de un patrón utilizando **WITH**. Cada fragmento tabaja con el resultado del fragmento anterior y alimenta el fragmento siguiente creando una estructura de pipeline. Sólo las columnas declaradas en la cláusula WITH están disponibles en las siguientes partes de la query.

La cláusula WITH actua como la cláusula RETURN, sólo que no termina la sentencia, sino que prepara la entrada de la siguiente parte de la consulta. 

Tanto expresiones, como agregaciones, ordenaciones y paginación se pueden utilizar como en la cláusula RETURN, la única diferencia es que todas las columnas tienen que tener alias. 

En la siguiente sentencia obtenemos las películas en las que un actor aparece y después filtramos aquellas en las que sólo aparece una vez.

In [ ]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (person:Person)-[:ACTED_IN]->(m:Movie)
WITH person, count(*) AS appearances, collect(m.title) AS movies
WHERE appearances > 1
RETURN person.name, appearances, movies