# Shakespeare Graph

Ya hemos aprendido a crear nodos, relaciones, ídices, constraints y además hemos aprendido a realizar consultas con patrones sobre esos datos.

Ahora es tu turno.

En este ejercicio vamos a crear una representación gráfica de la cadena de valor que rodea al pro
ducción y consumo de literatura shakesperiana. Almacenaremos información sobre Shakespeare y algunas de sus obras, junto con detalles de uno de las compañías que recientemente interpretaron alguna de sus obras de teatro, además de un lugar de teatro, también almacenamos algunos datos geoespaciales. Incluso hemos agregado una reseña. En total, el gráfico describe y conecta tres dominios diferentes. 

En el diagrama hemos distinguido estos tres dominios con relaciones con diferentes formatos: punteados para el dominio literario, sólido para el dominio teatral y discontinuo para el dominio geoespacial.

<img src="../images/neo4j/cypher51.png" alt="Initial Graph"/>

Una vez que conocemos los datos que vamos a modelar vamos a crear el grafo.

Como siempre los primeros pasos son inportar las librerías que vamos a utilizar y borrar los nodos y relaciones que existiesen previamente en la base de datos.

In [2]:
%load_ext cypher
%matplotlib inline

The cypher extension is already loaded. To reload it, use:
  %reload_ext cypher

In [3]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (n) DETACH DELETE n

0 rows affected.

[]

Ahora que tenemos la base de datos vacía vamos a crear el grafo inicial para trabajar sobre él.

In [5]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
CREATE (shakespeare:Author {firstname:'William', lastname:'Shakespeare'}),
(juliusCaesar:Play {title:'Julius Caesar'}),
(shakespeare)-[:WROTE_PLAY {year:1599}]->(juliusCaesar),
(theTempest:Play {title:'The Tempest'}),
(shakespeare)-[:WROTE_PLAY {year:1610}]->(theTempest),
(rsc:Company {name:'RSC'}),
(production1:Production {name:'Julius Caesar'}),
(rsc)-[:PRODUCED]->(production1),
(production1)-[:PRODUCTION_OF]->(juliusCaesar),
(performance1:Performance {date:20120729}),
(performance1)-[:PERFORMANCE_OF]->(production1),
(production2:Production {name:'The Tempest'}),
(rsc)-[:PRODUCED]->(production2),
(production2)-[:PRODUCTION_OF]->(theTempest),
(performance2:Performance {date:20061121}),
(performance2)-[:PERFORMANCE_OF]->(production2),
(performance3:Performance {date:20120730}),
(performance3)-[:PERFORMANCE_OF]->(production1),
(billy:User {name:'Billy'}),
(review:Review {rating:5, review:'This was awesome!'}),
(billy)-[:WROTE_REVIEW]->(review),
(review)-[:RATED]->(performance1),
(theatreRoyal:Venue {name:'Theatre Royal'}),
(performance1)-[:VENUE]->(theatreRoyal),
(performance2)-[:VENUE]->(theatreRoyal),
(performance3)-[:VENUE]->(theatreRoyal),
(greyStreet:Street {name:'Grey Street'}),
(theatreRoyal)-[:STREET]->(greyStreet),
(newcastle:City {name:'Newcastle'}),
(greyStreet)-[:CITY]->(newcastle),
(tyneAndWear:County {name:'Tyne and Wear'}),
(newcastle)-[:COUNTY]->(tyneAndWear),
(england:Country {name:'England'}),
(tyneAndWear)-[:COUNTRY]->(england),
(stratford:City {name:'Stratford upon Avon'}),
(stratford)-[:COUNTRY]->(england),
(rsc)-[:BASED_IN]->(stratford),
(shakespeare)-[:BORN_IN]->(stratford)

17 nodes created.
21 properties set.
21 relationships created.
17 labels added.

[]

Vamos a realizar nuestra primera búsqueda en la base dedatos.

## 1. Encontrar el Venue 'Theatre Royal', la ciudad 'Newcastle' y el author 'Shakespeare'

In [7]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (theater:Venue {name:'Theatre Royal'}),
      (newcastle:City {name:'Newcastle'}),
      (bard:Author {lastname:'Shakespeare'})
RETURN theater, newcastle, bard

1 rows affected.

[[{'name': 'Theatre Royal'},
  {'name': 'Newcastle'},
  {'firstname': 'William', 'lastname': 'Shakespeare'}]]

## 2. Para acelerar nuestras búsquedas crear un índice sobre el campo 'name' de los nodos 'Venue'

In [14]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
CREATE INDEX ON :Venue(name)

1 indexes added.

[]

## 3. Queremos asegurarnos que el campo 'name' de los nodos 'Country' son únicos

In [15]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
CREATE CONSTRAINT ON (c:Country) ASSERT c.name IS UNIQUE

Code [200]: OK. Request fulfilled, document follows.

Neo.ClientError.Schema.IndexAlreadyExists:
There already exists an index :Country(name). A constraint cannot be created until the index has been dropped.

## 4.

In [9]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (theater:Venue {name:'Theatre Royal'}),
      (newcastle:City {name:'Newcastle'}),
      (bard:Author {lastname:'Shakespeare'}),
      (newcastle)<-[:STREET|CITY*1..2]-(theater)<-[:VENUE]-()-[:PERFORMANCE_OF]->()-[:PRODUCTION_OF]->(play)<-[:WROTE_PLAY]-(bard)
RETURN DISTINCT play.title AS play

2 rows affected.

[['The Tempest'], ['Julius Caesar']]

## 5.

In [11]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (theater:Venue {name:'Theatre Royal'}),
      (newcastle:City {name:'Newcastle'}),
      (bard:Author {lastname:'Shakespeare'}),
      (newcastle)<-[:STREET|CITY*1..2]-(theater)<-[:VENUE]-()-[:PERFORMANCE_OF]->()-[:PRODUCTION_OF]->(play)<-[w:WROTE_PLAY]-(bard)
WHERE w.year > 1608
RETURN DISTINCT play.title AS play

1 rows affected.

[['The Tempest']]

## 6.

In [12]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (theater:Venue {name:'Theatre Royal'}),
      (newcastle:City {name:'Newcastle'}),
      (bard:Author {lastname:'Shakespeare'}),
      (newcastle)<-[:STREET|CITY*1..2]-(theater)<-[:VENUE]-()-[p:PERFORMANCE_OF]->()-[:PRODUCTION_OF]->(play)<-[:WROTE_PLAY]-(bard)
RETURN play.title AS play, count(p) AS performance_count
ORDER BY performance_count DESC

2 rows affected.

[['Julius Caesar', 2], ['The Tempest', 1]]

## 7.

In [13]:
%%cypher http://neo4j:1234@127.0.0.1:7474/db/data
MATCH (bard:Author {lastname:'Shakespeare'})-[w:WROTE_PLAY]->(play)
WITH play
ORDER BY w.year DESC
RETURN collect(play.title) AS plays

1 rows affected.

[[['The Tempest', 'Julius Caesar']]]